#account
  %div
    %fieldset
      %legend= t('account.add_club')
    #{t('account.register_messgae')}
    %br
    %br
    = link_to t('account.register'),register_path, class: 'button'
  %div
    %fieldset
      %legend= t('account.club_login')
    %br
    = form_tag '/login' do
      = label_tag t('account.email')
      = text_field_tag :username
      = label_tag t('account.password')
      = password_field_tag :password
      %br
      = submit_tag t('sign_in'), class: 'button'
      = link_to t('account.forget_password'),forget_password_path, class: 'button'
