= content_for :head do
  <meta name="description" content="Reset Password">
  <title>HANCHOR｜#{t("reset_password.title")}</title>

%section.reset_password.container
  .row
    .span10.offset1
      = form_tag password_resets_path do
        %header
          %h1 #{t('reset_password.title')}
          %fieldset
          = hidden_field_tag :token, params[:id]
          = label_tag :password,t('reset_password.new_password')
          = text_field_tag :password
        %fieldset.action
          = submit_tag t('reset_password.set'), class: "btn"
