.checkout{:style => "display: block;"}
  .row
    .span10
      %fieldset
        %legend= t('cart.info')
      = bootstrap_form_for @order, url: orders_path do |f|
        = f.text_field :shipping_name, :class => "span7", label: t('cart.user_name')
        = f.text_field :phone, :class => "span7", label: t('cart.phone')
        = f.text_field :shipping_address, :class => "span7", label: t('cart.address')
        = f.text_field :zip_code, :class => "span7", label: t('cart.zip_code')
        = f.text_field :city, :class => "span7", label: t('cart.city')
        = f.text_field :state, :class => "span7", label: t('cart.state')
        = f.text_field :country, :class => "span7", label: t('cart.country')
        = f.select  :shipping_cost_id, @shippings_selector, label: t('cart.shipping')
        - if @country_id == 1
          #store
            %label= t('cart.store')
            = link_to t('cart.search_store'),'http://map.ezship.com.tw/', class: "btn"
            = f.fields_for :store do |child_form|
              = child_form.text_field :code, label: t('cart.num')
              = child_form.text_field :stroe_name, label: t('cart.store_name')
        %fieldset
          %legend= t('cart.payment_info')
        %p
          %em.tw_payment{:style => "font-style: normal;"}
            %span{:style => ""}
            %br{:style => ""}
              = f.radio_button :payment, "PayPal",checked: true
              = f.label t('cart.credit_card')
              %img{:alt => "Solution Graphics", :border => "0", :src => "https://www.paypal.com/en_US/i/bnr/horizontal_solution_PPeCheck.gif"}

              %br{:style => ""}
              -if @country_id == 1
                = f.radio_button :payment, t('cart.transfer')
                = f.label t('cart.transfer_bank')
                %span.ui-state-default.ui-corner-all{:style => "padding: 5px;"}
                  %strong> 銀行
                  或
                  %strong> ATM匯款
                  (請於匯款後點選
                  %span.ui-button.ui-state-hover
                    = link_to "通知匯款",""
                  以利盡快出貨)

        %fieldset
          %legend= t('cart.comment')
        %p
          = text_area_tag :memo, nil, :style => "width:500px;height:100px;"
        %br
        %br
        %span.ui-state-default.ui-corner-all{:style => "padding:5px;mpargin: 5px;"}
          -if @country_id == 1
            購買前請詳細閱讀
            = link_to "購買說明",shopping_guide_path
          (Please Read
          = link_to "Shopping Guide",shopping_guide_path
          Before Checkout)
        %fieldset
          %legend= t('cart.order')
        #overview{:style => "margin:0px 10px;"}
          %table.cart_table{:align => "center", :cellpadding => "5", :cellspacing => "0", :width => "100%"}
            %thead
              %tr
                %td= t('cart.picture')
                %td= t('cart.name')
                %td= t('cart.unit_price')
                %td= t('cart.size')
                %td= t('cart.color')
                %td= t('cart.quantity')
                %td= t('cart.subtotal')
            %tbody
              - @cart_items.each_with_index do |item, i|
                %tr
                  %td{:width => "90"}
                    = link_to products_show_path(@cart_products[i].product_category.name_en, @cart_products[i]) do
                      =image_tag @cart_products[i].thumb.pic_url, width: "90",border: 0
                  %td
                    = link_to @cart_products[i].name,products_show_path(@cart_products[i].product_category.name_en, @cart_products[i])
                    = link_to remove_cart_item_cart_index_path(item_id: item.id) do
                      = image_tag("fancy_close.png")
                  %td{:align => "right", :width => "90"}
                    NT$
                    = item.price
                  %td{:align => "center", :width => "40"}
                    = item.product_size.size if item.product_size
                  %td{:align => "center", :width => "40"}
                    = item.product_color.color
                  %td{:align => "center", :width => "60"}
                    = form_for item, url: change_cart_item_quantity_cart_path(item) do |f|
                      = f.select :quantity, get_cart_item_quantity_selector(item), selected: item.quantity
                  %td{:align => "right", :width => "90"} 
                    NT$
                    = item.price * item.quantity
              %tr{:bgcolor => "E9E4D4"}
                %td{:align => "right", :colspan => "6"}= t('cart.sum')
                %td{:align => "right", :style => "font-size:1.3em; font-weight:bold; color:#CC4D33"}
                  NT$
                  = sum_cart_items_price @cart_items
        %p{:style => "margin:10px 10px 50px 0; float:right;"}
          = f.submit t('cart.confirm'), class: "btn btn-success", :confirm => t('cart.confirm_message')