%section.forgot_password.container
  .row
    .span10.offset1
      = form_tag forgot_passwords_path do
        %header
          %h4
            %strong #{t('forget_password.title')}
          %p #{t('forget_password.message')}
        %fieldset
          = label_tag :email,t('forget_password.email')
          = text_field_tag :email
        %fieldset.action
          = submit_tag t('forget_password.send'), class: "btn"

