%section.register.container
  .row
    .span10
      = bootstrap_form_for news, url: url,:html => {:class => "form-horizontal", multipart: true} do |f|
        = f.text_field :title, label: "標題",:class => "span7"
        = f.date_select :release_date, label: "發表日期", :class => "span7"
        %br
        .offset2
          = image_tag(news.pic_url, :style => 'max-height: 200px; max-width: 200px;')
        = f.file_field :pic, :class => "span7", label: "上傳圖片(圖片建議大小:570x355)"
        = f.label "內容"
        = f.cktext_area :content, :class => "someclass", :ckeditor => {:language => "en"}
        %br
        = f.text_field :sort_en, label: "排序(En)"
        = f.text_field :sort, label: "排序"
        .offset2
          = f.check_box :is_tw, :inline => true, label: "TW?"
          = f.check_box :is_en, :inline => true, label: "EN?"
        - tags.each do |tag|
          = tag.id
          = "#{tag.name}(#{tag.name_en})"
        = text_field_tag :news_tag, news.tags.map(&:id).join(",")
        (填tag的代號,用","隔開　ex: 1,3)
        %br
        .offset2
          = f.secondary "確定"
          = link_to "返回", admin_news_index_path, class: "btn"
          - unless news.new_record?
            = link_to "刪除", admin_news_path(news), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"
