%p
  Download:
  = link_to "Excel", export_orders_admin_orders_path(format: "xls")

= will_paginate @orders

%table.table
  %tr
    %th 編號
    %th 訂單日期
    %th 名字
    %th 付款方式
    %th 運送方式
    %th 總金額
    %th 狀態
  - @orders.each do |order|
    %tr
      %td= order.code
      %td= order.created_at
      %td= order.user.name
      %td= order.payment
      %td= order.shipping_cost.description
      %td= order.total
      %td= t("order.#{order.status}")
      %td= link_to 'Show', admin_order_path(order)
      %td= link_to 'Destroy', admin_order_path(order), method: :delete, data: { confirm: 'Are you sure?' }


= will_paginate @orders