<!doctype html>
%html
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
        %title Hanchor
        %meta{:content => "", :name => "description"}
          %meta{:content => "", :name => "author"}
            = stylesheet_link_tag "application", :media => "all"
            = javascript_include_tag "application"
            = favicon_link_tag "favicon.jpg"
            = csrf_meta_tags
            = yield(:head)
  %body
    %header
      .navbar
        .navbar-inner
          .container
            = render 'layouts/admin/navigation'
    .navbar
      #header-b
        %div
          %ul
            %li
              =link_to "Members", admin_users_path
            %li
              =link_to "Orders", admin_orders_path
            %li
              =link_to "Products", admin_products_path
            %li
              =link_to "Categories", admin_categories_path
            %li
              =link_to "Shipping", admin_shipping_costs_path
            %li
              =link_to "News", admin_news_index_path
            %li
              =link_to "News' Tags", admin_news_tags_path
            %li
              =link_to "FAQs", admin_faqs_path
            %li
              =link_to "Banner", admin_banners_path
            %li
              =link_to "Videos", admin_videos_path
    #main{:role => "main"}
      .container
        .row
          .span12
            #messages
              = render 'layouts/messages'
            = yield