<h5> Registration </h5>


<%= form_for @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :password %>
  <%= f.text_field :password %>
  <br/>
  <%= f.submit "Register", class: 'btn'%>
<% end %>