=content_for :head do
  <meta name="description" content="#{t("about_description")}">
  <title>HANCHOR｜#{t("aboutus")}</title>
  
#container
  #main
    #about-detail
      .title
        = t('aboutus_message').html_safe
        %p{:align => "justify"}
      = image_tag "https://www.hanchor.com/uploads/aboutus.jpeg"
      = image_tag "https://www.hanchor.com/uploads/ispo.jpg"
      = image_tag "https://www.hanchor.com/uploads/partnership.jpg"