= content_for :head do
  <meta name="description" content="#{t("qa_description")}">
  <title>HANCHOR｜#{t("faq.faq")}</title>
  
.sidebar-product.pull-left
  = render partial: "faq_side"

.main-product.pull-left
  = @faq.context.html_safe