.span7
  #myCarousel.carousel.slide
    .carousel-inner
      - @banners.each_with_index do |banner,i|
        - if(i == 0)
          .item.active
            = image_tag banner.pic_url
        -else
          .item
            = image_tag banner.pic_url
    %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"} ‹
    %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"} ›
.span4
  #aboutus
    %fieldset
      %legend= t("aboutus")
    %p
      = t("hanchor_info")
      =link_to "#{t("more")}...", aboutus_path
  #news
    %fieldset
      %legend= t("news_articles")
    %p
      -@news.each do |news|
        = link_to "#{display_date(news.updated_at)} #{news.title}", news
        %br

.span12
  #videos
    %fieldset
      %legend Feature Video
    %p
      -@videos.each do |video|
        %iframe{:allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :height => "250", :src => "#{video.youtube_embed_link}", :title => "YouTube video player", :width => "430"}
  #product
    %fieldset
      %legend Feature Product
    - @products.each do |product|
      .product_thumbs
        %center
          =link_to (image_tag product.product_pics.first.pic_url),"" if product.product_pics.first
        %br
        = link_to product.product_infos[0].name, ""
        %br
        %span.price
          NT$
          = product.product_infos[0].price
        %br
          = truncate_html(strip_tags(product.product_infos[0].quick_overview), length: 60)
  #facebook_fan
    %fieldset
      %legend HANCHOR on Facebook
      .fb-like-box{"data-border-color" => "#e5e5e5", "data-header" => "false", "data-height" => "300", "data-href" => "https://www.facebook.com/pages/HANCHOR/210934362319129", "data-show-faces" => "false", "data-stream" => "true", "data-width" => "980"}
        










