= content_for :head do
  <meta name="description" content="#{t("index_description")}">
  <link rel="canonical" href="#{request.url.split('?').first}">

.col-md-12
  .promotion.pull-left
    #carousel-example-generic.carousel.slide
      .carousel-inner
        - @banners.each_with_index do |banner,i|
          - if(i == 0)
            .item.active
              = link_to image_tag(banner.pic_url), banner.link
          -else
            .item
              = link_to image_tag(banner.pic_url), banner.link
      %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic"}
        %span.icon-prev
      %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic"}
        %span.icon-next
  .news-items.pull-left
    #aboutus
      %fieldset
        %legend= t("aboutus")
      %p
        = t("hanchor_info")
        =link_to "#{t("more")}...", aboutus_path
    #news
      %fieldset
        %legend= t("news_articles")
      %p
        -@news.each do |news|
          = link_to "#{display_date(news.release_date)} #{news.title}", news
          %br

.welcome
  #videos
    %fieldset.clearfix
      %legend Feature Video
    %p
      -@videos.each do |video|
        %iframe{:allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :height => "360", :src => "#{video.youtube_embed_link}", :title => "YouTube video player", :width => "460"}
  #product
    %fieldset
      %legend Feature Product
    - @products.each do |product|
      .product_thumbs{:itemscope => "", :itemtype => "http://data-vocabulary.org/Product"}
        %meta{:content => "HANCHOR", :itemprop => "brand"}
        %meta{:content => @base_category.locale(params[:locale]), :itemprop => "category"}
        %meta{:content => products_show_path(product.product_category.name_en,product).split('?').first, :itemprop => "url"}
        =link_to products_show_path(product.product_category.name_en,product) do
          %p
            =(image_tag product.thumb.pic_url, :itemprop => "image") if product.thumb
          .p-name{:itemprop => "name"}
            = product.name
          .p-price{:itemprop => "offerDetails", :itemscope => "", :itemtype => "http://data-vocabulary.org/Offer"}
            %meta{:content => "in_stock", :itemprop => "availability"}
            %meta{:content => "TWD", :itemprop => "currency"}
            %meta{:content => "new", :itemprop => "condition"}
            - unless product.special_price
              %span.price
                NT$
                %span{:itemprop => "price"}
                  = product.price
            - else
              %span.kill_price
                NT$
                %span
                  = product.price
              %span.special_price
                NT$
                %span{:itemprop => "price"}
                  = product.special_price
          .p-overview{:itemprop => "description"}
            = truncate_html(strip_tags(product.quick_overview), length: 60)
  #facebook_fan
    %fieldset
      %legend HANCHOR on Facebook
      .fb-like-box{"data-border-color" => "#e5e5e5", "data-header" => "false", "data-height" => "300", "data-href" => "https://www.facebook.com/pages/HANCHOR/210934362319129", "data-show-faces" => "false", "data-stream" => "true", "data-width" => "938"}
        










