= content_for :head do
  <meta name="description" content="#{t("blog_description")}">
  <title>HANCHOR｜#{t("news_events")}</title>

.select_category
  = form_tag(list_news_index_path,method: :get) do |f|
    = hidden_field_tag :locale , params[:locale]
    = label_tag :news_tag_id, t('news.category')
    = select_tag :news_tag_id, options_for_select(@tags_selector, params[:news_tag_id]), prompt: "All"

#news
  = render @news

#with-button
  = will_paginate(@news, :renderer => 'BootstrapPaginationHelper::LinkRenderer')
.center-div
  - if @news.next_page 
    #load-more-btn.btn.btn-primary.btn-lg.load-more #{t('news.more_article')}