.main-content.pull-left
  = form_tag list_news_index_path do |f|
    = label_tag :news_tag_id, "分類:"
    = select_tag :news_tag_id, options_for_select(@tags_selector, params[:news_tag_id]), prompt: "All"
  %table#news_list{:border => "0", :cellpadding => "5", :cellspacing => "0"}
    %tbody
      - @news.each do |news_item|
        %tr
          %td{:width => "80"}
            = news_item.created_at.strftime("%Y-%m-%d")
          %td
            = link_to news_item.title, news_path(news_item)
.sidebar-content.pull-left
  = render "sidebar", news: @recent_news
