.col-md-8
  %h2.news-title
    = link_to t('news_events'), news_index_path
  .news_item
    .news-head.clearfix
      %h4.title.pull-left
        =link_to @news.title,""
      .postdate.pull-right
        = @news.created_at.strftime("%Y-%m-%d")
    .content
      = image_tag @news.pic
      = @news.content.html_safe
      .fb-like{"data-href" => request.original_url, "data-send" => "false", "data-show-faces" => "true", "data-width" => "450"}
      .fb-comments{"data-href" => request.original_url, "data-width" => "470"}
  = link_to "&#171;back to news".html_safe, news_index_path

.col-md-4
  = render "sidebar", news: @recent_news