= content_for :head do
  <meta property="og:title"  content="#{@news.title}" />
  <meta property="og:image"  content="#{image_url(@news.pic)}" />
  <meta property="og:url"  content="#{request.url.split('?').first}" />
  <meta property="og:description" content="#{strip_tags(@news.content)}" />
  <meta property="og:type" content="website" />
  <meta name="description" content="#{@news.title}">
  
.main-content.pull-left
  %h2.news-title
    = link_to t('news_events'), news_index_path
  .news_item
    .news-head.clearfix
      %h4.title.pull-left
        =link_to @news.title,""
      .postdate.pull-right
        = @news.release_date.strftime("%Y-%m-%d")
    .content
      = image_tag @news.pic
      = @news.content.html_safe
      .fb-like{"data-href" => request.url.split('?').first, "data-send" => "false", "data-show-faces" => "true", "data-width" => "450"}
      .fb-comments{"data-href" => request.url.split('?').first, "data-width" => "470"}
  = link_to "&#171;back to news".html_safe, news_index_path

.sidebar-content.pull-left
  = render "sidebar", news: @recent_news