.span8
  = link_to t('news_events'), news_index_path
  .news_item
    %span.title
      =link_to @news.title,""
    %br
    %span.postdate
      = @news.created_at.strftime("%Y-%m-%d")
    .content
      = image_tag @news.pic
      = @news.content.html_safe
      .fb-like{"data-href" => "http://localhost/home/news/atom/67/", "data-send" => "false", "data-show-faces" => "true", "data-width" => "450"}
      .fb-comments{"data-href" => "http://hanchor.com/home/news/atom/81/", "data-width" => "470"}
  = link_to "<< back to news", news_index_path

.span3
  = render "sidebar", news: @recent_news