= content_for :head do
  <meta name="description" content="Order Success">
  <title>HANCHOR｜#{t("cart.confirm")}</title>

.result{:style => "padding-left:25px;"}
  = "Dear #{current_user.name}"
  %p
    Thank you for ordering from HANCHOR. Your order # is #{@order.code}.
    Please sign in to view your order and check the order status. 