.span8
  %ul.breadcrumb
    %li
      %a{:href => "#"} Home
      %span.divider /
    %li
      %a{:href => "#"} Library
      %span.divider /
    %li.active
      %a{:href => "#"} Data
  .product_cate
    = link_to "城市通勤系列","", class: "btn btn-info"
    = link_to "城市攀岩系列","", class: "btn btn-info"
    = link_to "White and Black Series","", class: "btn btn-info"
  #product
    - @products.each do |product|
      =link_to product do
        .product_thumbs
          %center
            =(image_tag "http://localhost/resample.php?scale=0.6&path=upload/product/pipefirst.JPG")
          %br
          = product.name
          %br
          %span.price
            NT$
            = product.price
          %br
            = truncate(strip_tags(product.feature), length: 50)

.span3
  = render "cart_sidebar"