#myModal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{"data-dismiss" => "modal"} &times;
        %h4= t('notify.notify')
      .modal-body
        %p
          = t('notify.message')
        = form_tag paid_notify_index_path do
          .paid-items
            = label_tag :bank_name, t('notify.bank_name')
            = text_field_tag :bank_name, nil, class: 'form-control'
          .paid-items
            = label_tag :bank_account_num, t('notify.bank_number')
            = text_field_tag :bank_account_num, nil, class: 'form-control'
          .paid-items
            = label_tag :accunt_name, t('notify.account_name')
            = text_field_tag :accunt_name, nil, class: 'form-control'
          = hidden_field_tag :order_id, ""
          %br
          = submit_tag t('confirm'), class: "btn btn-md btn-warning"
          = link_to t('cancel'),"", data: { dismiss: "modal"}, class: "btn btn-md btn-default"