.col-md-3
  = render partial: "account_sidemenu"
  = render partial: "products/cart_sidebar"
.col-md-9
  #account_main
    %h2= t('account.my_account')
    .content
      = t('account.message').html_safe
    #info
      %fieldset
        %legend= t('account.account_info')
      .items.clearfix
        .item-name.pull-left
          = t('account.info_name')
        .item-value.pull-left
          = current_user.name
      .items.clearfix
        .item-name.pull-left
          = t('account.info_email')
        .item-value.pull-left
          = current_user.email
      .items
        = link_to t('account.change_password'), account_info_path, class: "btn btn-md btn-warning"
    #shipping_address
      %fieldset
        %legend= t('account.address')
      .items
        .item-value
          = current_user.shipping_address
      .items
        = link_to "Edit Address", account_info_path, class: "btn btn-md btn-warning"
    #last_order
      %fieldset
        %legend= t('order.history')
        %br
      %table.table.table-striped
        %thead
          %tr
            %th= t('order.num')
            %th= t('order.date')
            %th= t('order.status')
            %th= t('order.shpping')
            %th= t('order.pay')
            %th= t('order.price')
            %th{:align => "center", :width => "70"}= t('order.confirm')
        %tbody
          - current_user.orders.each do |order|
            %tr.hover
              %td= format_order_id(order)
              %td= display_date(order.created_at)
              %td= t("order.#{order.status}")
              %td= order.shipping_cost.description
              %td= order.payment
              %td= order.total
              %td.green{:align => "center"}= (order.is_payed) ? t("order.payed") : t("order.not_payed")
              -if (order.is_payed)
                %td= t("order.payed")
              -else
                %td= link_to t("notify.notify"),"","data-toggle" => "modal", 'data-target' => "#myModal", id: "order_modal_link", class: "btn btn-md btn-warning", data: {order_id: order.id}
      = link_to t("more"), account_orders_path, class: "btn btn-md btn-warning"

= render "notify_modal"