.span3
  = render partial: "account_sidemenu"
  = render partial: "products/cart_sidebar"
.span8
  #account_main
  %h2= t('account.my_account')
  %p
    = t('account.message').html_safe
    
    #info
      %fieldset
        %legend= t('account.account_info')
      %p
        =  t('account.name')
        = current_user.name
        %br
        Email: 
        = current_user.email
        %br
        = link_to t('account.change_password'), account_info_path
    #shipping_address
      %fieldset
        %legend= t('account.address')
      %p
        = current_user.shipping_address
        %br
        = link_to "Edit Address", account_info_path
    #last_order
      %fieldset
        %legend= t('order.history')
        %br
      %table.table
        %thead
          %tr
            %th= t('order.num')
            %th= t('order.date')
            %th= t('order.status')
            %th= t('order.shpping')
            %th= t('order.pay')
            %th= t('order.price')
            %th{:align => "center", :width => "70"}= t('order.confirm')
        %tbody
          - current_user.orders.each do |order|
            %tr.hover
              %td= format_order_id(order)
              %td= display_date(order.created_at)
              %td= t("order.#{order.status}")
              %td= order.shipping_cost.description
              %td= order.payment
              %td= order.total
              %td.green{:align => "center"}= (order.is_payed) ? t("order.payed") : t("order.not_payed")
      = link_to t("more"), account_orders_path
