.span3
  = render partial: "account_sidemenu"
  = render partial: "products/cart_sidebar"
.span8
  #account_main
  %h2= t('account.order')
  %p= t('account.message').html_safe
    
    
  #last_order
    %fieldset
      %legend= t('order.history')
      %br
    %table.table{:align => "center", :cellpadding => "3", :cellspacing => "0", :width => "100%"}
      %thead
        %tr
          %th= t('order.num')
          %th= t('order.date')
          %th= t('order.status')
          %th= t('order.shpping')
          %th= t('order.pay')
          %th= t('order.price')
          %th{:align => "center", :width => "70"}= t('order.confirm')
      %tbody
        %tr.hover
          %td 130307206
          %td 2013/03/07
          %td 已出貨
          %td 國內寄送
          %td 匯款
          %td 930
          %td.green{:align => "center"} 已付款
        %tr.hover
          %td 130215202
          %td 2013/02/15
          %td 已出貨
          %td 國內寄送
          %td 匯款
          %td 1800
          %td.green{:align => "center"} 已付款
        %tr.hover
          %td 130127197
          %td 2013/01/27
          %td 已出貨
          %td 國內寄送
          %td 匯款
          %td 3080
          %td.green{:align => "center"} 已付款
