.cart
  %ul
    %li{:style => " background:#eee 5px 7px; padding-left:26px"}
      =link_to t('shopping_cart_locale.cart'),cart_index_path
    - @cart_items.each do |item|
      %li
        = image_tag item.product.product_pics.first.pic, width: "40"
        = link_to item.product.product_infos[@product_info_index].name, products_show_path(item.product.product_category.name_en,item.product)
        %br
          %strong= item.quantity
          x $#{item.price}
          = link_to "","",class: "remove"
          %p{:style => "clear:both"}
    - if @cart_items.count == 0
      %li{:style => "border-top:1px solid #fff"}
        = t('shopping_cart_locale.empty')
    - else
      %li{:style => "background:#E9E4D4;border-top:1px solid #fff"}
        %strong= t(:item, :scope => "shopping_cart_locale", :num => @cart_items.size) 
        %br
          %span{:style => "color:#A7440F; font-weight:bold"}=  t(:sum, :scope => "shopping_cart_locale", :price => sum_cart_items_price(@cart_items)) 
          = link_to t("shopping_cart_locale.checkout"), cart_index_path, class: "checkout"