.span8
  %ul.breadcrumb
    %li
      = link_to "首頁", root_path 
      %span.divider /
    %li.active
      產品
      %span.divider /
    %li
      = link_to @base_category.name, products_index_path(@base_category.name_en)
    %li
      - if @sub_category
        %span.divider /
        = link_to @sub_category.name, products_index_path(@base_category.name_en, sub: @sub_category.name_en)
  .product_cate
    - @base_category.child_categories.each do |c|
      = link_to c.name, products_index_path(@base_category.name_en, sub: c.name_en), class: "btn btn-info"
  #product
    - @products.each do |product|
      =link_to products_show_path(@base_category.name_en,product) do
        .product_thumbs
          %center
            =(image_tag "http://localhost/resample.php?scale=0.6&path=upload/product/pipefirst.JPG")
          %br
          = product.product_infos[0].name
          %br
          %span.price
            NT$
            = product.product_infos[0].price
          %br
            = truncate(strip_tags(product.product_infos[0].feature), length: 50)
  = will_paginate @products
.span3
  = render "cart_sidebar"

