.span8
  %ul.breadcrumb
    %li
      = link_to t('product.home'), root_path 
      %span.divider /
    %li.active
      = t("product.product")
      %span.divider /
    %li
      = link_to @base_category.locale(params[:locale]), products_index_path(@base_category.name_en)
    %li
      - if @sub_category
        %span.divider /
        = link_to @sub_category.locale(params[:locale]), products_index_path(@base_category.name_en, sub: @sub_category.name_en)
  .product_cate
    - @base_category.child_categories.each do |c|
      = link_to c.locale(params[:locale]), products_index_path(@base_category.name_en, sub: c.name_en), class: "btn btn-info"
  #product
    - @products.each do |product|
      =link_to products_show_path(@base_category.name_en,product) do
        .product_thumbs
          %center
            =(image_tag product.product_pics.first.pic_url) if product.product_pics.first
          %br
          = product.product_infos[@local_index].name
          %br
          %span.price
            NT$
            = product.product_infos[@local_index].price
          %br
            = truncate_html(strip_tags(product.product_infos[@local_index].quick_overview), length: 60)
  = will_paginate @products
.span3
  = render "cart_sidebar"

