.col-md-9.margin-bottom
  %ul.breadcrumb
    %li
      = link_to t('product.home'), root_path 
    %li.active
      = t("product.product")
    %li
      = link_to @base_category.locale(params[:locale]), products_index_path(@base_category.name_en)
    %li
      - if @sub_category != @base_category
        = link_to @sub_category.locale(params[:locale]), products_index_path(@base_category.name_en, sub: @sub_category.name_en)

  #product
    .pic.pull-left
      .pic-img
        =link_to image_tag(@product.product_pics.first.pic_url),@product.product_pics.first.pic_url, rel: "group"
      %fieldset
        %legend= t('product.more_views')
      .pics-group
        - @product.product_pics.each_with_index do |pic, index|
          = link_to image_tag(pic.pic_url),pic.pic_url, rel: "group" if index >0
        
    .info.pull-left
      %h2= @product.name
      = form_for @item, url: add_item_to_cart_cart_index_path(product: @product) do |f|
        %ul
          %li 
            #{t('product.weight')} 
            #{@product.weight}
          %li
            #{t('product.dimension')}
            #{@product.capacity}
          - if @product_size_selector.present?
            %li
              #{t('product.size')}
              = f.select :product_size_id, @product_size_selector
          %li
            #{t('product.material')}
            #{@product.material}
          - if @product_color_selector.present?
            %li
              #{t('product.color')}
              = f.select :product_color_id, @product_color_selector
          %li
            #{t('product.regular_price')}
            - unless @product.special_price
              %strong= "NT$#{@product.price}"
            - else
              %span.kill_price
                = "NT$#{@product.price}"
              %span.special_price
                NT$
                = @product.special_price
          %li
            #{t('product.quantity')}
            = select_tag :quantity,[], style: "display: none"
            %strong{id: "out_of_stock",style: "display: none"}
              = t('product.out_of_stock')
        - if @product.sum_quantities > 0    
          = f.submit t('product.add_to_cart'), class: "btn btn-warning"
  .clearfix
  .features
    %fieldset
      %legend= "#{t('product.feature')}"
    %p
      = @product.quick_overview.html_safe
  .quick_overview
    %fieldset
      %legend= "#{t('product.description')}"
    = @product.feature.html_safe

.col-md-3.offset1
  = render "cart_sidebar"