= content_for :head do
  <meta property="og:title"  content="#{@product.name}" />
  <meta property="og:image"  content="#{image_url(@product.product_pics.first.pic_url)}" />
  <meta property="og:url"  content="#{request.url.split('?').first}" />
  <meta property="og:description" content="#{strip_tags(@product.quick_overview)}" />
  <meta property="og:type" content="website" />
  <meta name="description" content="#{strip_tags(@product.quick_overview)}">
  

.main-product.pull-left.margin-bottom{:itemscope => "", :itemtype => "http://data-vocabulary.org/product"}
  %meta{:content => "HANCHOR", :itemprop => "brand"}
  %meta{:content => @base_category.locale(params[:locale]), :itemprop => "category"}
  %meta{:content => request.url.split('?').first, :itemprop => "url"}
  %ul.breadcrumb
    %li{:itemscope => "", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
      = link_to root_path ,:itemprop => "url" do
        %span{:itemprop => "title"} #{t('product.home')}
    %li.active
      = t("product.product")
    %li{:itemscope => "", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
      = link_to products_index_path(@base_category.name_en),:itemprop => "url" do
        %span{:itemprop => "title"} #{@base_category.locale(params[:locale])}
    %li{:itemscope => "", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
      - if @sub_category
        = link_to products_index_path(@base_category.name_en, sub: @sub_category.name_en),:itemprop => "url" do
          %span{:itemprop => "title"} #{@sub_category.locale(params[:locale])}
  #product
    .pic.pull-left
      .pic-img
        =link_to image_tag(@product.product_pics.first.pic_url, :itemprop => "image"),@product.product_pics.first.pic_url, rel: "group"
      %fieldset
        %legend= t('product.more_views')
      .pics-group
        - @product.product_pics.each_with_index do |pic, index|
          = link_to image_tag(pic.pic_url),pic.pic_url, rel: "group" if index >0
        
    .info.pull-left
      %h2{:itemprop => "name"}= @product.name
      = form_for @item, url: add_item_to_cart_cart_index_path(product: @product) do |f|
        %ul
          - if @product.weight.present?
            %li
              #{t('product.weight')} 
              #{@product.weight}
          - if @product.capacity.present?
            %li
              #{t('product.dimension')}
              #{@product.capacity}
          - if @product_size_selector.present?
            %li
              #{t('product.size')}
              = f.select :product_size_id, @product_size_selector
          - if @product.material.present?
            %li
              #{t('product.material')}
              #{@product.material}
          - if @product_color_selector.present?
            %li
              #{t('product.color')}
              = f.select :product_color_id, @product_color_selector
          %li
            #{t('product.regular_price')}
            - unless @product.special_price
              %strong= "NT$#{@product.price}"
            - else
              %span.kill_price
                = "NT$#{@product.price}"
              %span.special_price
                NT$
                = @product.special_price
          %li
            #{t('product.quantity')}
            = select_tag :quantity,[], style: "display: none"
            %strong{id: "out_of_stock",style: "display: none"}
              = t('product.out_of_stock')
        - if @product.sum_quantities > 0    
          = f.submit t('product.add_to_cart'), class: "btn btn-warning"
  .clearfix
  .features{:itemprop => "description"}
    %fieldset
      %legend= "#{t('product.feature')}"
    %p
      = @product.quick_overview.html_safe
  .quick_overview
    %fieldset
      %legend= "#{t('product.description')}"
    = @product.feature.html_safe

.sidebar-product.pull-left.offset1
  = render "cart_sidebar"