#footer_frame
  #footer.footer_tw
    %ul#nav.clearfix
      %li
        = link_to t("aboutus"), aboutus_path
      %li
        = link_to t('news_events'), news_index_path
      %li
        = link_to t('packing'), products_index_path("packing")
      %li
        = link_to t('accessories'), products_index_path("accessories")
      %li
        = link_to t('apparel'), products_index_path("apparel")
      %li
        = link_to t('others'), products_index_path("others")
      %li
        = link_to t('customization'), products_index_path("customization")
      %li
        = link_to t('deals'), products_index_path("deal")
      %li
        = link_to t('q_and_a'), shopping_guide_path
    .paypal-logo
      = link_to image_tag('https://www.paypal.com/en_US/Marketing/i/banner/bnr_accept_120x30_y.gif'),"http://paypal.com", target: "_blank"
    .facebook-page
      = link_to image_tag('fb-f-logo.png'),"https://www.facebook.com/HANCHORSTUDIO", target: "_blank"
    .twitter-page
      = link_to image_tag('twitter-logo.png'),"https://twitter.com/HANCHORSTUDIO", target: "_blank"
    .pinterest-page
      = link_to image_tag('Pinterest_Badge_Red.png'),"https://www.pinterest.com/hanchorproduct/", target: "_blank"
    .instagram-page
      = link_to image_tag('Instagram_Icon.png'),"https://instagram.com/hanchor_studio/", target: "_blank"

    .copyright.clearfix
      =mail_to "info@hanchor.com", "info@hanchor.com", encode: "hex"
      %br
        Copyright 2012 ©
        = link_to "HANCHOR",root_path, style: "color:#fff"
        All Rights Reserved