#footer_frame
  #footer.footer_tw
    %ul#nav.clearfix
      %li
        = link_to t("aboutus"), aboutus_path
      %li
        = link_to t('news_events'), news_index_path
      %li
        = link_to t('packing'), products_index_path("packing")
      %li
        = link_to t('accessories'), products_index_path("accessories")
      %li
        = link_to t('apparel'), products_index_path("apparel")
      %li
        = link_to t('others'), products_index_path("others")
      %li
        = link_to t('customization'), products_index_path("customization")
      %li
        = link_to t('deals'), products_index_path("deal")
      %li
        = link_to t('q_and_a'), faq_path
    .paypal-logo
      / PayPal Logo
      %table{:align => "center", :border => "0", :cellpadding => "5", :cellspacing => "0"}
        %tbody
          %tr
            %td{:align => "center"}
          %tr
            %td{:align => "center"}
              %a{:href => "http://paypal.com"}
                %img{:alt => "Additional Options", :border => "0", :src => "https://www.paypal.com/en_US/Marketing/i/banner/bnr_accept_120x30_y.gif"}/
      / PayPal Logo
    .copyright.clearfix
      %a{:href=>'mailto&#58;i&#110;fo&#64;h%&#54;1n%63hor&#46;&#99;om'} info&#64;hanc&#104;or&#46;&#99;om
      %br
        Copyright 2012 ©
        = link_to "HANCHOR",root_path, style: "color:#fff"
        All Rights Reserved