%ul.nav
  %li
    = link_to image_tag("logo.png"), root_path, :class => 'brand'
  %li
    = link_to t("aboutus"), aboutus_path
  %li
    = link_to t('news_events'), news_index_path
  %li
    = link_to t('packing'), products_index_path("packing")
  %li
    = link_to t('accessories'), products_index_path("accessories")
  %li
    = link_to t('apparel'), products_index_path("apparel")
  %li
    = link_to t('others'), products_index_path("others")
  %li
    = link_to t('customization'), products_index_path("customization")
  %li
    = link_to t('deals'), products_index_path("deal")
  %li
    = link_to t('q_and_a'), faq_path

#user_links.pull-right
  = link_to "購物車", cart_index_path
  %ul
    %li.dropdown
      %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
        切換語言
        %b.caret
      %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
        %li
          = link_to "中文", root_path(locale: "zh-TW")
          = link_to "English", root_path(locale: "en")
  -if logged_in?
    %ul
      %li.dropdown
        %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
          Welcome,
          = current_user.name
          %b.caret
        %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
          %li
            %a(href="#") Account
            %a(href="#") Plan and Billing
            = link_to 'Logout', logout_path
      
  -else
    = link_to "登入", login_path