<!doctype html>
%html{lang: params[:locale]}
  %head
    %meta{:charset => "utf-8"}
    %link{rel: "alternate", hreflang: "x-default", href: "#{request.url.split('?').first}"}
    %link{rel: "alternate", hreflang: "en", href: url_for(params.merge(:only_path => false, locale: "en"))}
    %link{rel: "alternate", hreflang: "zh-TW", href: url_for(params.merge(:only_path => false, locale: "zh-TW"))}
    %link{rel: "canonical", href: "#{request.url.split('?').first}"}
    / %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => t('key_words'), :name => "keywords"}
    %meta{:content => "www.hanchor.com", :name => "author"}
    %meta{:content => "356939360986455", :property => "fb:app_id"}
    %meta{content: "B8bPUVgj7JcuDMB3rFWoL-RvX3g1hnX6xWG0lfAl7fs", name: "google-site-verification"}/
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = favicon_link_tag "favicon.jpg"
    = csrf_meta_tags
    = yield(:head)
    / Google Tag Manager
    :javascript
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-KZB6ZTV');
    / End Google Tag Manager
  %body
    / Google Tag Manager (noscript)
    %noscript
      %iframe{:height => "0", :src => "https://www.googletagmanager.com/ns.html?id=GTM-KZB6ZTV", :style => "display:none;visibility:hidden", :width => "0"}
    / End Google Tag Manager (noscript)
    = render "shared/facebook_script"
    %header
      .nav-full
        = render 'layouts/navigation'
    #main{:role => "main"}
      .container
        .row.clearfix
          #messages
            = render 'layouts/messages'
          = yield
    %footer
      = render 'layouts/footer'